
.chat {
    display: flex;
    flex-direction: column;
    flex: 1;

    &__messages {
        flex-grow: 1;
        padding: $baseLine * 4;
        overflow: hidden;
        overflow-y: auto;

        &__photo {
            width: 54px;
            min-width: 54px;
            height: 54px;
            overflow: hidden;
        }
        &__picture {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100%;
        }

        &__content {
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
            padding: 24px;
            margin-left: 24px;
            background-color: #DADADA;
            border-radius: 30px 30px 30px 0;
        }

        &__text {
            word-break: break-all;
            width: 100%;
            margin-top: $baseLine;
        }

        &__user {
            display: flex;
            align-items: flex-end;
            margin-bottom: $baseLine * 2;

            &--myself {
                flex-direction: row-reverse;

                .chat__messages__content {
                    margin-right: 24px;
                    margin-left: 0;
                    background-color: #4CA2FF;
                    color: #fff;
                    border-radius: 30px 30px 0;
                }
            }
        }
    }

    &__actions {
        padding: $baseLine * 4;

        &::before {
            position: relative;
            top: -12px;
            display: block;
            width: 100%;
            height: 1px;
            background-color: #eee;
            content: '';
        }
    }
}
