.rooms {
    flex-basis: $roomsWidth;
    flex-direction: column;
    position: relative;
    padding: $baseLine * 4;

    @include small-only {
        display: none;
    }

    &::before {
        position: absolute;
        right: -12px;
        display: block;
        width: 1px;
        height: 100%;
        background-color: #eee;
        content: '';
    }
}
